/* Navbar */

.navbar {
    height: 60px;
    padding: 0 30px;
    
    background-color: rgb(254, 182, 156);
    border-bottom: 3px solid rgb(242, 96, 96);
}

.navbar-container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: aqua;
}

nav a {
    margin-left: 15px;
}